:root {
  --black: #110c0c;
  --white: #fff;
  --brand-primary: #59e27c;
  --brand-secondary: #1c1fe9;
  
  --brand-darkest: var(--black);
  --brand-darkest--inverted: color(var(--brand-darkest) contrast(80%));
  --brand-lightest: var(--white);
  --brand-primary--inverted: color(var(--brand-primary) contrast(80%));
  --brand-secondary--inverted: var(--brand-lightest);

  /* Base */
  --brand-faded: color(var(--brand-primary) blend(var(--white) 60%));
  --gray-base: color(var(--black) blend(var(--brand-faded) 50%));
  
  /* Typography */
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size-base: 18px;
  --text-color: var(--brand-darkest);
  
  /* Main Navigation */
  --main-navigation-color: var(--black);
  --main-navigation-color--inverted: var(--brand-secondary--inverted);
}